header {
  nav {
    .logo-side {
      height: 56px;
      @include flexible(center, center, row);
      @media (max-width: 1200px) {
        display: none;
      }
    }
    .nav-right {
      @include flexible($jus: space-between);
      &__left {
        @include flexible($items: center);
        .main-ul {
          display: flex;
          padding: 0;
          margin: 0;
          list-style: none;
          .main-li {
            // transition: 0.25s all ease-in-out;
            &:nth-child(2n + 2) {
              a {
                &::after {
                  content: "";
                }
              }
            }

            .main-a {
              @include for-A;
              padding: 0px 20px;
              position: relative;
              transition: transform 0.2s;

              &::after {
                content: url("../img/home/arrow-down.svg");
                margin-top: 1px;
                width: 24px;
                padding: 5px;
                text-align: center;
                position: inherit;
              }
            }
            &:hover {
              border-bottom: 2px solid $main-red;
              a {
                &::after {
                  bottom: -3px;
                }
              }
            }
          }
        }
      }
      @media (max-width: 1200px) {
        display: none;
      }
    }
    .mob-nav {
      @media (min-width: 1201px) {
        display: none;
      }
    }
  }
}
main {
  .main-one {
    @include flexible($direction: column, $jus: flex-end);
    min-height: 742px;
    position: relative;
    .for-bg {
      // border:2px solid black;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__text-area {
      color: $white;
      .first-text {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 2%;
        text-align: center;
      }
      .second-text {
        @include TextFont($text_weight: 600, $text_align: center);
      }
    }
    .main-card {
      position: relative;
      transition: 2s ease-in-out;
      .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: inherit;
        z-index: 3;
        color: black;
      }
      .opn-cls-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
      }
      &:hover {
        height: 350px;
        img {
          object-fit: cover;
        }
      }
    }
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
      content: "";
      height: 200px;
      z-index: -2;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.62) 51%,
        #fff 82%,
        #fff 100%
      );
    }
  }
  #main-two {
    padding-top: 147px;
    padding-bottom: 125px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    .counter-area {
      color: $white;
      text-align: center;
      h2 {
        font-size: 28px;
        line-height: 36px;
        text-transform: uppercase;
        margin: 0;
        position: relative;
        &::after {
          bottom: auto;
          top: -22px;
          left: 50%;
          margin-left: -11px;
          content: "";
          width: 22px;
          height: 2px;
          background-color: #e30613;
          position: absolute;
        }
      }
      .first-span {
        display: inline-block;
        font-size: 69px;
        line-height: 77px;
        margin-bottom: 5px;
        margin-top: 10px;
      }
      p {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
