.hover-cards {
  width: 100%;
  .text-boxs {
    position: relative;
    z-index: 3;
    overflow: visible;
    transition: 0.25s ease-in-out;
    background-color: $white;
    color: $main-black;
    text-align: center;
    padding: 15px;
    border-radius: 2px;
    .hide-texts {
      visibility: hidden;
      opacity: 0;
      height: 0;
    }
  }
  .opn-cls-imgs {
    height: 0;
    opacity: 0;
    visibility: visible;
    transition: 0.25s ease-in-out;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    .hide-texts {
      visibility: visible;
      opacity: 1;
      height: auto;
    }
    .opn-cls-imgs {
      height: 100px;
      width: 100%;
      object-fit: fill;
      opacity: 1;
      visibility: visible;
    }
  }
}

header {
  nav {
    .logo-side {
      height: 56px;
      @include flexible(center, center, row);
      @media (max-width: 1200px) {
        display: none;
      }
    }
    .nav-right {
      @include flexible($jus: space-between);
      &__left {
        @include flexible($items: center);
        .main-ul {
          display: flex;
          padding: 0;
          margin: 0;
          list-style: none;
          #first-nav {
            &:hover {
              .hover-menu {
                opacity: 1;
                visibility: visible;
              }
            }
          }
          #second-nav {
            transition: 0.25s ease-in-out;
            &:hover {
              .hover-menu {
                opacity: 1;
                visibility: visible;
              }
            }
          }
          #third-nav {
            transition: 0.25s ease-in-out;
            &:hover {
              .hover-menu {
                opacity: 1;
                visibility: visible;
              }
            }
          }
          .main-li {
            &:nth-child(2n + 2) {
              a {
                &::after {
                  content: "";
                }
              }
            }
            .main-a {
              @include for-A;
              padding: 0px 20px;
              position: relative;
              transition: transform 0.2s;
              &::after {
                content: url("../img/home/arrow-down.svg");
                margin-top: 1px;
                width: 24px;
                padding: 5px;
                text-align: center;
                position: inherit;
              }
              @media (max-width:1300px) {
                span{
                  font-size: 13px;
                  line-height: 40px;
                }
              }
            }

            .hover-menu {
              visibility: hidden;
              opacity: 0;
              width: 70%;
              overflow: hidden;
              position: absolute;
              z-index: 10;
              left: 0;
              width: 100%;
              background-color: $white;
              transition: 0.25s ease-in-out;
              .hovered-menu {
                padding-bottom: 30px;
                .h3-title {
                  position: relative;
                  padding-bottom: 20px;
                  margin-bottom: 20px;
                  text-transform: uppercase;
                  margin-left: 15px;
                  margin-right: 15px;
                  font-size: 17px;
                  line-height: 25px;
                  letter-spacing: 0.5px;
                  text-transform: uppercase;
                  color: $main-black;
                  font-weight: 600;
                  &::after {
                    content: "";
                    width: 22px;
                    height: 2px;
                    background-color: #e30613;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                  }
                  @media (min-width: 768px) {
                    font-size: 22px;
                    line-height: 30px;
                  }
                }
                ul {
                  padding: 0;
                  margin: 0;
                  list-style: none;
                  li {
                    a {
                      color: $main-black;
                      text-decoration: none;
                      display: flex;
                      height: 56px;
                      padding: 0 48px 0 15px;
                      align-items: center;
                      transition: background-color 0.2s;
                      &:hover {
                        background-color: #dfe0e5;
                        border-radius: 3px;
                      }
                    }
                  }
                }
              }
            }
            &:hover {
              border-bottom: 2px solid $main-red;
              a {
                &::after {
                  bottom: -3px;
                }
              }
            }
          }
        }
      }
      &__right {
        display: flex;
        form {
          position: relative !important;
          input {
            // height: 55px;
            border: none;
            border-left: 1px solid #dfe0e5;
            padding: 16px 10px;
          }
          i {
            position: absolute;
            top: 26%;
            right: 9%;
          }
        }
        a {
          padding: 0px 40px;
          height: 56px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          font-size: 17px;
          line-height: 28px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: #e30613;
          text-decoration: none;
          color: $white;
          transition: 0.25s ease-in-out;
          &:hover {
            background-color: #be0510;
            border-color: #b1050f;
          }
        }
      }
      @media (max-width: 1200px) {
        display: none;
      }
    }
    .mob-nav {
      @media (min-width: 1201px) {
        display: none;
      }
    }
  }
}
main {
  #swiper1{
    // position: absolute;
    bottom: -100px;
  }
  .swiper-container {
    position: relative;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: $main-black;
    border-radius: 4px;
    padding: 25px;
    &::after {
      color: $white;
      font-size: 29px;
    }
  }
  .swiper-button-next {
    right: 10px;
  }
  .swiper-button-left {
    left: 10px;
  }
  .main-one {
    @include flexible($direction: column, $jus: flex-end);
    min-height: 742px;
    position: relative;
    .for-text-area{
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background-color: #000;
      .special-p{
        font-size: 22px;
        text-align: center;
        margin: 0;
        padding-top: 10px;
        color: $white;
        font-weight: bolder;
      }
      .text-area-second{
        display: flex;
        align-items: center;
        justify-content: center;

        p{
          color: $white;
          margin: 0;
          padding-top: 6px;
          font-size: 18px;
          font-weight: 700;
        }
        img{
          width: 67px;
          height: 50x;
          display: inline-block;
          object-fit: cover;
        }
      }
     
    }
    .for-bg {
      // border:2px solid black;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__text-area {
      color: $white;
      position: relative;
      margin-bottom: 7%;
      .first-text {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 2%;
        text-align: center;
      }
      .second-text {
        @include TextFont($text_weight: 600, $text_align: center);
      }
    }
    .main-card {
      position: relative;
      transition: 0.25s ease-in-out;
      border-radius: 2px;
      overflow: visible;
      width: 75%;
      .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: inherit;
        z-index: 3;
        color: black;
      }
      .opn-cls-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
      }
      &:hover {
        background-color: red;
        // height: auto;
        transform: translateY(-35px);
        .opn-cls-img {
          height: 350px;
        }
        img {
          object-fit: cover;
        }
      }
    }
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
      content: "";
      height: 200px;
      z-index: -2;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.62) 51%,
        #fff 82%,
        #fff 100%
      );
    }
  }
  #main-two {
    padding-top: 147px;
    padding-bottom: 125px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    #two-leftimg {
      position: absolute;
      left: -96px;
      top: -120px;
      width: 500px;
      transform: rotate(180deg);
      @media (max-width:768px) {
        display: none;
      }
    }
    #two-rightimg {
      position: absolute;
      right: -6%;
      bottom: -40%;
      width: 500px;
      @media (max-width:768px) {
        display: none;
      }
    }
    .counter-area {
      color: $white;
      text-align: center;
      h2 {
        font-size: 28px;
        line-height: 36px;
        text-transform: uppercase;
        margin: 0;
        position: relative;
        &::after {
          bottom: auto;
          top: -22px;
          left: 50%;
          margin-left: -11px;
          content: "";
          width: 22px;
          height: 2px;
          background-color: #e30613;
          position: absolute;
        }
      }
      .first-span {
        display: inline-block;
        font-size: 69px;
        line-height: 77px;
        margin-bottom: 5px;
        margin-top: 10px;
      }
      p {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  #main-three {
    background-color: #eeeff2;
    position: relative;
    overflow: hidden;
    #three-leftimg {
      width: 500px;
      position: absolute;
      left: -47px;
      @media (max-width:768px) {
        display: none;
      }
    }
    #three-leftimg2 {
      position: absolute;
      left: -15%;
      width: 500px;
      transform: rotate(180deg);
      top: 0;
      @media (max-width:768px) {
        display: none;
      }
    }

    #three-rightimg {
      width: 500px;
      position: absolute;
      right: 0px;
      top: 0;
      transform: rotate(180deg);
    }
    #three-rightimg2 {
      position: absolute;
      width: 500px;
      right: -15%;
    }
    .text-area {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      h2 {
        @include TextFont(
          $f_size: 38px,
          $line_height: 1.37,
          $letter_spc: 1px,
          $f_color: $main-black
        );
        margin-bottom: 0;
        z-index: 1;
        text-transform: uppercase;
      }
      span {
        font-size: 150px;
        line-height: 1;
        -webkit-text-stroke: 0.8px #dfe0e5;
        color: #dfe0e5;
        -webkit-text-stroke: 0.3px #dfe0e5;
        text-transform: uppercase;
      }
      &::after {
        content: "";
        width: 22px;
        height: 2px;
        background-color: #e30613;
        position: absolute;
        left: 50%;
        margin-left: -11px;
        // bottom: 0;
        //   left: 0;
      }
      @media (max-width: 768px) {
        span {
          display: none;
        }
      }
      @media (min-width: 768px) {
        min-height: 355px;
        padding-top: 6px;
        padding-bottom: 37px;
        margin-top: 90px;
        margin-bottom: 90px;
        span {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
        }
        &::after {
          bottom: 80px;
        }
      }
    }
    a {
      position: relative;
      min-width: 100%;
      height: 140px;
      color: #0d181c;
      background: #fff;
      border: 1px solid #eeeff2;
      margin: -1px;
      text-align: center;
      font-size: 15px;
      display: block;
      text-decoration: none;
      .visible-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 10px 30px;
        color: $main-black;
        h3 {
          transition: font-size 0.2s;
          color: $main-black;
          font-size: 17px;
          line-height: 25px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          &:hover {
            color: #e30613;
          }
          @media (min-width: 768px) {
            font-size: 22px;
            line-height: 30px;
          }
        }
      }
      .hide-box {
        padding: 10px 30px;
        display: none;
        transition: all 0.4s;
        &__link {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: inherit;
          text-decoration: none;
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
          }
        }
      }
      &:hover {
        .visible-box {
          display: none;
        }
        .hide-box {
          opacity: 1;
          visibility: visible;
        }
      }
      @media (min-width: 768px) {
        height: 210px;
      }
      @media (min-width: 992px) {
        .hide-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #fff;
          border-left: 5px solid #e30613 !important;
        }
      }
    }
  }
  #main-four {
    background-color: #eeeff2;
    .swiper-for-two {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      @include flexible(center, center, row);
      .slide-two {
        position: relative;
        max-width: 550px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        h3 {
          text-align: center;
          font-size: 36px;
          position: relative;
          padding-bottom: 20px;
          margin-bottom: 20px;
          &::after {
            content: "";
            width: 22px;
            height: 2px;
            background-color: #e30613;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -11px;
          }
        }
        p {
          text-align: center;
          margin: 0 auto 33px;
          font-size: 15px;
        }
        a {
          min-width: 260px;
          cursor: pointer;
          padding: 0 30px 0 30px;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          font-size: 17px;
          line-height: 28px;
          text-decoration: none;
          height: 52px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: #000;
          border: 1px solid #000;
          transition: 0.25s ease-in-out;
          &:hover {
            color: #fff;
            background-color: #000;
            border-color: #fff;
          }
        }
      }
      @media (min-width: 1366px) {
        max-width: 944px;
        height: 498px;
      }
    }

    .swiper-for-two img {
      display: block;
      width: 100%;
    }
  }
  #main-five {
    padding-top: 147px;
    position: relative;
    // padding-bottom: 125px;
    background-size: cover;
    background-position: center center;
    position: relative;
    #five-leftimg {
      width: 500px;
      position: absolute;
      left: -16%;
      top: -6%;
    }
    #five-rightimg {
      width: 500px;
      position: absolute;
      top: 14%;
      right: 0%;
    }
    .main-five-up-area {
      h3 {
        @include TextFont(
          $f_size: 38px,
          $f_color: $main-black,
          $text-trans: uppercase
        );
        position: relative;
        margin-bottom: 0;
        z-index: 1;
        line-height: 1.37;
      }
      span {
        display: none;
        @media (min-width: 768px) {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
          font-size: 150px;
          line-height: 1;
          -webkit-text-stroke: 0.8px #dfe0e5;
          color: transparent;
          text-align: center;
        }
      }
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;
      text-align: center;
      @media (min-width: 768px) {
        padding-top: 6px;
        padding-bottom: 37px;
        margin-top: 90px;
        margin-bottom: 90px;
      }
    }
    .main-five-cards {
      // position: absolute;
      // bottom: -10px;
      // border: 2px solid red;
      position: relative;
      bottom: -100px;
      overflow: hidden;
      .main-five-card {
        border: 1px solid #eeeff2;
        background-color: $white;
        transition: 0.25s ease-in-out;
        position: relative;
        z-index: 1;

        &__img {
          position: relative;
          visibility: hidden;
          opacity: 0;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &__text-area {
          position: absolute;
          z-index: 2;
          top: -52px;
          left: 50%;
          transform: translate(-50%, 50%);
          h3 {
            text-align: center;
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 40px;
            transition: color 0.2s;
            font-size: 22px;
            line-height: 30px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: $main-black;
            &::after {
              content: "";
              width: 22px;
              height: 2px;
              background-color: #e30613;
              position: absolute;
              left: 50%;
              margin-left: -11px;
              bottom: -10px;
            }
          }
          a {
            display: inline-block;
            text-align: center;
            text-decoration: none;
            @media (min-width: 768px) {
              min-width: 280px;
            }
            @media (min-width: 992px) {
              max-width: 200px;
            }
            @media (min-width: 1366px) {
              max-width: 300px;
            }
          }
        }

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          border: 1px solid #eeeff2;
          box-shadow: 0 2px 38px 0 rgba(0, 0, 0, 0.07),
            0 0 0 1px rgba(0, 0, 0, 0.07);

          h3 {
            color: #e30613;
          }
          .main-five-card__img {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  #main-six {
    position: relative;
    overflow: hidden;
    padding-top: 147px;
    padding-bottom: 125px;
    #six-leftimg {
      width: 500px;
      position: absolute;
      left: -16%;
      top: 0;
    }
    #six-rightimg {
      position: absolute;
      right: -16%;
      top: 0;
      width: 500px;
      transform: rotate(180deg);
    }
    .main-six-up-side {
      h2 {
        @include TextFont(
          $f_size: 38px,
          $f_color: $main-black,
          $text-trans: uppercase
        );
        position: relative;
        margin-bottom: 0;
        z-index: 1;
        line-height: 1.37;
      }
      span {
        display: none;
        @media (min-width: 768px) {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
          font-size: 150px;
          line-height: 1;
          -webkit-text-stroke: 0.8px #dfe0e5;
          color: transparent;
          text-align: center;
        }
      }
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;
      text-align: center;
      @media (min-width: 768px) {
        padding-top: 6px;
        padding-bottom: 37px;
        margin-top: 90px;
        margin-bottom: 90px;
      }
      &::after {
        content: "";
        width: 22px;
        height: 2px;
        background-color: #e30613;
        position: absolute;
        left: 50%;
        margin-left: -11px;
        bottom: -10px;
      }
    }
    .video-content-area {
      // border: 2px solid red;
      display: flex;
      height: 500px;
      &__left {
        // border: 2px solid black;
        background-color: $main-black;
        width: 75%;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
      &__right {
        // border: 2px solid blue;
        width: calc(100% - 75%);
        background-color: $main-black;
        .next-video {
          display: inline-block;
          text-decoration: none;
          color: $white;
          margin: 5px;
          transition: 0.25s ease-in-out;
          .next-video-area {
            display: flex;
            justify-content: space-between;
            .video-img {
              padding: 10px;
              img {
                width: 100%;
                object-fit: contain;
              }
            }
            .next-video-content {
              padding: 10px;
              p {
                margin: 0;
              }
            }
          }
          &:hover {
            background-color: $white;
            color: $main-black;
          }
        }
        .active-next-video {
          background-color: $white;
          color: $main-black;
        }
      }
    }
  }
  #main-seven {
    position: relative;
    overflow: hidden;
    #seven-leftimg {
      position: absolute;
      width: 500px;
      left: -15%;
      top: -10%;
    }
    #seven-rightimg {
      width: 500px;
      position: absolute;
      right: -15%;
      top: -7%;
      transform: rotate(180deg);
    }
    .main-seven-up-side {
      h2 {
        @include TextFont(
          $f_size: 38px,
          $f_color: $main-black,
          $text-trans: uppercase
        );
        position: relative;
        margin-bottom: 0;
        z-index: 1;
        line-height: 1.37;
      }
      span {
        display: none;
        @media (min-width: 768px) {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
          font-size: 150px;
          line-height: 1;
          -webkit-text-stroke: 0.8px #dfe0e5;
          color: transparent;
          text-align: center;
        }
      }
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;
      text-align: center;
      @media (min-width: 768px) {
        padding-top: 6px;
        padding-bottom: 37px;
        margin-top: 90px;
        margin-bottom: 90px;
      }
      &::after {
        content: "";
        width: 22px;
        height: 2px;
        background-color: #e30613;
        position: absolute;
        left: 50%;
        margin-left: -11px;
        bottom: -10px;
      }
    }
    .more-news {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        text-decoration: none;
        color: $main-black;
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        height: 52px;
        transition: 0.25s ease-in-out;
        span {
          padding: 4px 0;
          border-bottom: 1px solid #eeeff2;
          transition: all 0.3s;
        }
        i {
          margin-left: 10px;
          font-size: 17px;
        }
        &:hover {
          span {
            border-bottom: 1px solid #e30613;
          }
        }
        @media (min-width: 768px) {
          padding: 0 30px 0 30px;
        }
        @media (min-width: 992px) {
          display: inline-flex;
          margin-bottom: 63px;
        }
      }
    }
    .news-card-main {
      overflow: hidden;
      a {
        display: inline-flex;
        flex-direction: column;
        color: $main-black;
        text-decoration: none;
        transition: 0.25s ease-in-out;
        padding: 10px 20px;
        .news-img {
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .news-content {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin: 0 auto;
          color: rgba(13, 24, 28, 0.8);
          padding: 20px 0 25px;
          width: 100%;
          transition: 0.2s ease-in-out;
          .title-area {
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .title {
              font-size: 20px;
              font-weight: 700;
              line-height: 30px;
              letter-spacing: 0.5px;
              text-transform: uppercase;
            }
            &::after {
              content: "";
              width: 22px;
              height: 2px;
              background-color: #e30613;
              position: absolute;
              bottom: 0;
              left: 0;
            }
          }
          .date {
            margin-bottom: 10px;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0;
            color: rgba(13, 24, 28, 0.6);
          }
          .description {
            font-size: 15px;
          }
          .hide-arrow {
            position: absolute;
            font-size: 25px;
            visibility: hidden;
            opacity: 0;
            left: -10%;
            bottom: 5%;
            transition: 0.25s ease-in-out;
          }
        }
        &:hover {
          transform: scale(1.1);
          background-color: #fff;
          box-shadow: 0 2px 38px 0 rgba(0, 0, 0, 0.07);
          .hide-arrow {
            left: 0%;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
footer {
  position: relative;
  .footer-left {
    display: flex;
    justify-content: space-between;
    .footer-logo {
      img {
        max-width: 87px;
        object-fit: contain;
        border-right: 1px solid #eeeff2;
        padding-right: 30px;
      }
    }
    .footer-left-content {
      width: 75%;
      h3 {
        margin-bottom: 20px;
      }
      p {
        margin: 0;
        font-size: 15px;
        color: rgba(13, 24, 28, 0.6);
      }
    }
  }
  .footer-right-area {
    .footer-right-one {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h3 {
        font-size: 30px;
        font-weight: 600;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          line-height: 38px;
          a {
            text-decoration: none;
            font-size: 15px;
            color: rgba(13, 24, 28, 0.8);
            transition: 0.25s ease-in-out;
            &:hover {
              color: #e30613;
            }
          }
        }
      }
    }
  }
  .button {
    position: absolute;
    right: 0;
    top: 10%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: $main-black;
    font-size: 30px;
    transition: 0.25s ease-in-out;
    span {
      transform: rotate(90deg);
      margin-top: 30px;
    }
    &:hover {
      color: #e30613;
    }
  }
  .footer-down {
    border: 1px solid #dfe0e5;
  }
  .footer-widget {
    border-right: 1px solid #dfe0e5;
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    padding-left: 40px;
    p {
      margin: 0;
    }
    .footer-links {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 13px;
      display: flex;
      flex-direction: column;
      span {
        position: relative;
        margin: 0 20px;
        display: block;
        max-width: 100%;
        height: 0px;
        max-height: 0px;
        border: solid;
        border-width: thin 0 0 0;
        transition: inherit;
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          width: 1px;
          background-color: #eeeff2;
          height: 1.4667rem;
          transform: translateY(30%);
          bottom: 0;
        }
      }
      a {
        text-decoration: none;
        color: $main-black;
        transition: 0.25s ease-in-out;
        &:hover {
          color: #be0510;
        }
      }
      @media (min-width: 768px) {
        width: auto;
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
  .footer-social {
    background-color: #dfe0e5;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
      color: #0d181c;
      opacity: 0.3;
      transition: opacity 0.2s;
      padding: 10px;
      text-decoration: none;
      font-size: 20px;
      opacity: 0.5;
      &:hover {
        color: $main-black;
        opacity: 1;
      }
    }
  }
}
