header nav .logo-side {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 1200px) {
  header nav .logo-side {
    display: none;
  }
}
header nav .nav-right {
  display: flex;
  justify-content: space-between;
}
header nav .nav-right__left {
  display: flex;
  align-items: center;
}
header nav .nav-right__left .main-ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
header nav .nav-right__left .main-ul .main-li:nth-child(2n+2) a::after {
  content: "";
}
header nav .nav-right__left .main-ul .main-li .main-a {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 56px;
  color: #0d181c;
  padding: 0px 20px;
  position: relative;
  transition: transform 0.2s;
}
header nav .nav-right__left .main-ul .main-li .main-a::after {
  content: url("../img/home/arrow-down.svg");
  margin-top: 1px;
  width: 24px;
  padding: 5px;
  text-align: center;
  position: inherit;
}
header nav .nav-right__left .main-ul .main-li:hover {
  border-bottom: 2px solid #be0510;
}
header nav .nav-right__left .main-ul .main-li:hover a::after {
  bottom: -3px;
}
@media (max-width: 1200px) {
  header nav .nav-right {
    display: none;
  }
}
@media (min-width: 1201px) {
  header nav .mob-nav {
    display: none;
  }
}

main .main-one {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  min-height: 742px;
  position: relative;
}
main .main-one .for-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .main-one .for-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main-one__text-area {
  color: #fff;
}
main .main-one__text-area .first-text {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2%;
  text-align: center;
}
main .main-one__text-area .second-text {
  font-weight: 600;
  text-align: center;
}
main .main-one .main-card {
  position: relative;
  transition: 2s ease-in-out;
}
main .main-one .main-card .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: inherit;
  z-index: 3;
  color: black;
}
main .main-one .main-card .opn-cls-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
main .main-one .main-card:hover {
  height: 350px;
}
main .main-one .main-card:hover img {
  -o-object-fit: cover;
     object-fit: cover;
}
main .main-one::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  content: "";
  height: 200px;
  z-index: -2;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.62) 51%, #fff 82%, #fff 100%);
}
main #main-two {
  padding-top: 147px;
  padding-bottom: 125px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
main #main-two .counter-area {
  color: #fff;
  text-align: center;
}
main #main-two .counter-area h2 {
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}
main #main-two .counter-area h2::after {
  bottom: auto;
  top: -22px;
  left: 50%;
  margin-left: -11px;
  content: "";
  width: 22px;
  height: 2px;
  background-color: #e30613;
  position: absolute;
}
main #main-two .counter-area .first-span {
  display: inline-block;
  font-size: 69px;
  line-height: 77px;
  margin-bottom: 5px;
  margin-top: 10px;
}
main #main-two .counter-area p {
  color: rgba(255, 255, 255, 0.6);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */