header nav .logo-side {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 1200px) {
  header nav .logo-side {
    display: none;
  }
}
header nav .nav-right {
  display: flex;
  justify-content: space-between;
}
header nav .nav-right__left {
  display: flex;
  align-items: center;
}
header nav .nav-right__left .main-ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
header nav .nav-right__left .main-ul .main-li:nth-child(2n+2) a::after {
  content: "";
}
header nav .nav-right__left .main-ul .main-li .main-a {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 56px;
  color: #0d181c;
  padding: 0px 20px;
  position: relative;
  transition: transform 0.2s;
}
header nav .nav-right__left .main-ul .main-li .main-a::after {
  content: url("../img/home/arrow-down.svg");
  margin-top: 1px;
  width: 24px;
  padding: 5px;
  text-align: center;
  position: inherit;
}
header nav .nav-right__left .main-ul .main-li:hover {
  border-bottom: 2px solid #be0510;
}
header nav .nav-right__left .main-ul .main-li:hover a::after {
  bottom: -3px;
}
@media (max-width: 1200px) {
  header nav .nav-right {
    display: none;
  }
}
@media (min-width: 1201px) {
  header nav .mob-nav {
    display: none;
  }
}

main .main-one {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  min-height: 742px;
  position: relative;
}
main .main-one .for-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .main-one .for-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main-one__text-area {
  color: #fff;
}
main .main-one__text-area .first-text {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2%;
  text-align: center;
}
main .main-one__text-area .second-text {
  font-weight: 600;
  text-align: center;
}
main .main-one .main-card {
  position: relative;
  transition: 2s ease-in-out;
}
main .main-one .main-card .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: inherit;
  z-index: 3;
  color: black;
}
main .main-one .main-card .opn-cls-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
main .main-one .main-card:hover {
  height: 350px;
}
main .main-one .main-card:hover img {
  -o-object-fit: cover;
     object-fit: cover;
}
main .main-one::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  content: "";
  height: 200px;
  z-index: -2;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.62) 51%, #fff 82%, #fff 100%);
}
main #main-two {
  padding-top: 147px;
  padding-bottom: 125px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
main #main-two .counter-area {
  color: #fff;
  text-align: center;
}
main #main-two .counter-area h2 {
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}
main #main-two .counter-area h2::after {
  bottom: auto;
  top: -22px;
  left: 50%;
  margin-left: -11px;
  content: "";
  width: 22px;
  height: 2px;
  background-color: #e30613;
  position: absolute;
}
main #main-two .counter-area .first-span {
  display: inline-block;
  font-size: 69px;
  line-height: 77px;
  margin-bottom: 5px;
  margin-top: 10px;
}
main #main-two .counter-area p {
  color: rgba(255, 255, 255, 0.6);
}
main #main-three {
  background-color: #eeeff2;
}
main #main-three .text-area {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
main #main-three .text-area h2 {
  font-size: 38px;
  line-height: 1.37;
  color: #0d181c;
  letter-spacing: 1px;
  margin-bottom: 0;
  z-index: 1;
  text-transform: uppercase;
}
main #main-three .text-area span {
  font-size: 150px;
  line-height: 1;
  -webkit-text-stroke: 0.8px #dfe0e5;
  color: #dfe0e5;
  -webkit-text-stroke: 0.3px #dfe0e5;
  text-transform: uppercase;
}
main #main-three .text-area::after {
  content: "";
  width: 22px;
  height: 2px;
  background-color: #e30613;
  position: absolute;
  left: 50%;
  margin-left: -11px;
}
@media (max-width: 768px) {
  main #main-three .text-area span {
    display: none;
  }
}
@media (min-width: 768px) {
  main #main-three .text-area {
    min-height: 355px;
    padding-top: 6px;
    padding-bottom: 37px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
  main #main-three .text-area span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  main #main-three .text-area::after {
    bottom: 80px;
  }
}
main #main-three a {
  position: relative;
  min-width: 100%;
  height: 140px;
  color: #0d181c;
  background: #fff;
  border: 1px solid #eeeff2;
  margin: -1px;
  text-align: center;
  font-size: 15px;
  display: block;
  text-decoration: none;
}
main #main-three a .visible-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  color: #0d181c;
}
main #main-three a .visible-box h3 {
  transition: font-size 0.2s;
  color: #0d181c;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
main #main-three a .visible-box h3:hover {
  color: #e30613;
}
@media (min-width: 768px) {
  main #main-three a .visible-box h3 {
    font-size: 22px;
    line-height: 30px;
  }
}
main #main-three a .hide-box {
  padding: 10px 30px;
  display: none;
  transition: all 0.4s;
}
main #main-three a .hide-box__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
}
main #main-three a .hide-box__link ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
main #main-three a:hover .visible-box {
  display: none;
}
main #main-three a:hover .hide-box {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  main #main-three a {
    height: 210px;
  }
}
@media (min-width: 992px) {
  main #main-three a .hide-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-left: 5px solid #e30613 !important;
  }
}
main #main-four {
  background-color: #eeeff2;
}
main #main-four .swiper-for-two {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
main #main-four .swiper-for-two .slide-two {
  position: relative;
  max-width: 550px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
main #main-four .swiper-for-two .slide-two h3 {
  text-align: center;
  font-size: 36px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
main #main-four .swiper-for-two .slide-two h3::after {
  content: "";
  width: 22px;
  height: 2px;
  background-color: #e30613;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -11px;
}
main #main-four .swiper-for-two .slide-two p {
  text-align: center;
  margin: 0 auto 33px;
  font-size: 15px;
}
main #main-four .swiper-for-two .slide-two a {
  min-width: 260px;
  cursor: pointer;
  padding: 0 30px 0 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 17px;
  line-height: 28px;
  text-decoration: none;
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000;
  border: 1px solid #000;
  transition: 0.25s ease-in-out;
}
main #main-four .swiper-for-two .slide-two a:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}
@media (min-width: 1366px) {
  main #main-four .swiper-for-two {
    max-width: 944px;
    height: 498px;
  }
}
main #main-four .swiper-for-two img {
  display: block;
  width: 100%;
}
main #main-five {
  padding-top: 147px;
  background-size: cover;
  background-position: center center;
  position: relative;
}
main #main-five .main-five-up-area {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}
main #main-five .main-five-up-area h3 {
  font-size: 38px;
  color: #0d181c;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0;
  z-index: 1;
  line-height: 1.37;
}
main #main-five .main-five-up-area span {
  display: none;
}
@media (min-width: 768px) {
  main #main-five .main-five-up-area span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 150px;
    line-height: 1;
    -webkit-text-stroke: 0.8px #dfe0e5;
    color: transparent;
    text-align: center;
  }
}
@media (min-width: 768px) {
  main #main-five .main-five-up-area {
    padding-top: 6px;
    padding-bottom: 37px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
main #main-five .main-five-cards {
  position: relative;
  bottom: -100px;
  overflow: hidden;
}
main #main-five .main-five-cards .main-five-card {
  border: 1px solid #eeeff2;
  background-color: #fff;
  transition: 0.25s ease-in-out;
  position: relative;
  z-index: 1;
}
main #main-five .main-five-cards .main-five-card__img {
  position: relative;
  visibility: hidden;
  opacity: 0;
}
main #main-five .main-five-cards .main-five-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main #main-five .main-five-cards .main-five-card__text-area {
  position: absolute;
  z-index: 2;
  top: -52px;
  left: 50%;
  transform: translate(-50%, 50%);
}
main #main-five .main-five-cards .main-five-card__text-area h3 {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
  transition: color 0.2s;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #0d181c;
}
main #main-five .main-five-cards .main-five-card__text-area h3::after {
  content: "";
  width: 22px;
  height: 2px;
  background-color: #e30613;
  position: absolute;
  left: 50%;
  margin-left: -11px;
  bottom: -10px;
}
main #main-five .main-five-cards .main-five-card__text-area a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 768px) {
  main #main-five .main-five-cards .main-five-card__text-area a {
    min-width: 280px;
  }
}
@media (min-width: 992px) {
  main #main-five .main-five-cards .main-five-card__text-area a {
    max-width: 200px;
  }
}
@media (min-width: 1366px) {
  main #main-five .main-five-cards .main-five-card__text-area a {
    max-width: 300px;
  }
}
main #main-five .main-five-cards .main-five-card:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: 1px solid #eeeff2;
  box-shadow: 0 2px 38px 0 rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.07);
}
main #main-five .main-five-cards .main-five-card:hover h3 {
  color: #e30613;
}
main #main-five .main-five-cards .main-five-card:hover .main-five-card__img {
  visibility: visible;
  opacity: 1;
}
main #main-six {
  padding-top: 147px;
  padding-bottom: 125px;
}
main #main-six .main-six-up-side {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}
main #main-six .main-six-up-side h2 {
  font-size: 38px;
  color: #0d181c;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0;
  z-index: 1;
  line-height: 1.37;
}
main #main-six .main-six-up-side span {
  display: none;
}
@media (min-width: 768px) {
  main #main-six .main-six-up-side span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 150px;
    line-height: 1;
    -webkit-text-stroke: 0.8px #dfe0e5;
    color: transparent;
    text-align: center;
  }
}
@media (min-width: 768px) {
  main #main-six .main-six-up-side {
    padding-top: 6px;
    padding-bottom: 37px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
main #main-six .main-six-up-side::after {
  content: "";
  width: 22px;
  height: 2px;
  background-color: #e30613;
  position: absolute;
  left: 50%;
  margin-left: -11px;
  bottom: -10px;
}
main #main-six .video-content-area {
  display: flex;
  height: 500px;
}
main #main-six .video-content-area__left {
  background-color: #0d181c;
  width: 75%;
}
main #main-six .video-content-area__left iframe {
  width: 100%;
  height: 100%;
}
main #main-six .video-content-area__right {
  width: 25%;
  background-color: #0d181c;
}
main #main-six .video-content-area__right .next-video {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 5px;
  transition: 0.25s ease-in-out;
}
main #main-six .video-content-area__right .next-video .next-video-area {
  display: flex;
  justify-content: space-between;
}
main #main-six .video-content-area__right .next-video .next-video-area .video-img {
  padding: 10px;
}
main #main-six .video-content-area__right .next-video .next-video-area .video-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main #main-six .video-content-area__right .next-video .next-video-area .next-video-content {
  padding: 10px;
}
main #main-six .video-content-area__right .next-video .next-video-area .next-video-content p {
  margin: 0;
}
main #main-six .video-content-area__right .next-video:hover {
  background-color: #fff;
  color: #0d181c;
}
main #main-six .video-content-area__right .active-next-video {
  background-color: #fff;
  color: #0d181c;
}
main #main-seven .main-seven-up-side {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}
main #main-seven .main-seven-up-side h2 {
  font-size: 38px;
  color: #0d181c;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0;
  z-index: 1;
  line-height: 1.37;
}
main #main-seven .main-seven-up-side span {
  display: none;
}
@media (min-width: 768px) {
  main #main-seven .main-seven-up-side span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 150px;
    line-height: 1;
    -webkit-text-stroke: 0.8px #dfe0e5;
    color: transparent;
    text-align: center;
  }
}
@media (min-width: 768px) {
  main #main-seven .main-seven-up-side {
    padding-top: 6px;
    padding-bottom: 37px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
main #main-seven .main-seven-up-side::after {
  content: "";
  width: 22px;
  height: 2px;
  background-color: #e30613;
  position: absolute;
  left: 50%;
  margin-left: -11px;
  bottom: -10px;
}
main #main-seven .more-news {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main #main-seven .more-news a {
  text-decoration: none;
  color: #0d181c;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  height: 52px;
  transition: 0.25s ease-in-out;
}
main #main-seven .more-news a span {
  padding: 4px 0;
  border-bottom: 1px solid #eeeff2;
  transition: all 0.3s;
}
main #main-seven .more-news a i {
  margin-left: 10px;
  font-size: 17px;
}
main #main-seven .more-news a:hover span {
  border-bottom: 1px solid #e30613;
}
@media (min-width: 768px) {
  main #main-seven .more-news a {
    padding: 0 30px 0 30px;
  }
}
@media (min-width: 992px) {
  main #main-seven .more-news a {
    display: inline-flex;
    margin-bottom: 63px;
  }
}
main #main-seven .news-card-main {
  overflow: hidden;
}
main #main-seven .news-card-main a {
  display: inline-flex;
  flex-direction: column;
  color: #0d181c;
  text-decoration: none;
  transition: 0.25s ease-in-out;
  padding: 10px 20px;
}
main #main-seven .news-card-main a .news-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main #main-seven .news-card-main a .news-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  color: rgba(13, 24, 28, 0.8);
  padding: 20px 0 25px;
  width: 100%;
  transition: 0.2s ease-in-out;
}
main #main-seven .news-card-main a .news-content .title-area {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
main #main-seven .news-card-main a .news-content .title-area .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
main #main-seven .news-card-main a .news-content .title-area::after {
  content: "";
  width: 22px;
  height: 2px;
  background-color: #e30613;
  position: absolute;
  bottom: 0;
  left: 0;
}
main #main-seven .news-card-main a .news-content .date {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(13, 24, 28, 0.6);
}
main #main-seven .news-card-main a .news-content .description {
  font-size: 15px;
}
main #main-seven .news-card-main a .news-content .hide-arrow {
  position: absolute;
  font-size: 25px;
  visibility: hidden;
  opacity: 0;
  left: -10%;
  bottom: 0;
  transition: 0.25s ease-in-out;
}
main #main-seven .news-card-main a:hover {
  transform: scale(1.1);
  background-color: #fff;
  box-shadow: 0 2px 38px 0 rgba(0, 0, 0, 0.07);
}
main #main-seven .news-card-main a:hover .hide-arrow {
  left: 0%;
  visibility: visible;
  opacity: 1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */